   * {
       margin: 0 auto;
       padding: 0;
       box-sizing: border-box;
   }


/*---------------------------------------------Home page DESIGN-----------------------------------------------------  */
 body {
   
     background-color: rgba(255, 255, 255, 0.665);
     font-family: 'Roboto', sans-serif;
     scroll-behavior: smooth;
     overflow-x: hidden;
     margin-right: auto;
     margin-left: auto;

 }
  .nav-bar {
      width:100%;
      background-color: rgb(55, 53, 53);
      padding: 2rem;
      text-align: center;
      font-size: 1.2rem;
      position: relative;
      color: #fff;
      margin-right: auto;
      margin-left: auto;

  }

  .quantity {
      width: 22px;
      height: 22px;
      top: 1rem;
      font-size: .7rem;
      line-height: 20px;
      border-radius: 50%;
      position: absolute;
      background-color: rgb(176, 82, 82);
      color: #fff;
      box-shadow: 1px 1px 1px #363535;
      cursor: pointer;
  }
.search-input{
    display:none;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.product-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
}

.product-cart {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border-top: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-bottom: 0px solid #cbcbcb;
    border-radius: 10px;


}

.product-price {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
}

.product-price,
.product-desc {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: .5rem;
    border-top: 1px solid #e0dfdf;

}


.product-add {
    width: 100%;
    margin: 0 auto;
    background-color: #635858;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    font-size: 1.2rem;
    margin-right: auto;
    margin-left: auto;

}

.product-img {
    width: 60%;
    text-align: center;
    object-fit: cover;
    display: block;
    image-rendering: auto;
    margin-right: auto;
    margin-left: auto;

}

.product-name {
    overflow-wrap: normal;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.footer {
   display:none;
}

/* -------------------------------------------Tablet design------Cart Page--------------------------------------------------*/


   .cart-items {
            width: 40%;
            height: 60vh;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            right: .2rem;
            color: #000;
            font-size: .8rem;
            letter-spacing: .1rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            transition: all ease 1s;
            transform: translateX(30rem);
        }
 .cart-price,
 .cart-name {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     margin: 0 auto;
 }
 .cart-name{
    margin: .5rem ;
   word-wrap: no-wrap;
 }

 .footer-cart {
     width: 40%;
     height: fit-content;
     background-color: #ffffff;
     position: absolute;
     bottom: 0;
     top: 60vh;
     right: .2rem;
     color: #000;
     font-size: .7rem;
     letter-spacing: .1rem;
     display: grid;
     grid-auto-flow: column;
     grid-gap: .5rem;
     text-align: center;
     transform: translateX(30rem);
     transition: all ease 1s;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

 }

  .my-cart {
      width: 100%;
      display: flex;
      margin: 0 .5rem auto;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dotted #000;

  }

  .total-item {
      width: 100%;
      background-color: #000;
    
      color: #fff;
      text-align: left;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .checkout {
      width: 100%;
      background-color: #410404;
      color: #fff;
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .close-cart {
      width: 100%;
      background-color: #eb0c0c;
      color: #fff;
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .cart-img {
      width: 25px;
      height: 25px;
      display: block;
      object-fit: cover;

  }
   .fa-trash {
       margin: 1.5rem;
       cursor: pointer;
   }

   